<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="" lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/join.css"/>
    <!-- 네이버 폰트 -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumBarunGothicYetHangul.css" rel="stylesheet">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="~{includes/header.html :: content}"></th:block>

<div class="wrapper">
    <form id="join_form" method="post" action="/member/join">
        <div class="wrap">
            <div class="subjecet">
                <span>회원가입</span>
            </div>
            <div class="id_wrap">
                <div class="id_name">아이디</div>
                <div class="id_input_box">
                    <input class="id_input" name="userId">
                </div>
                <span class="id_input_re_1">사용 가능한 아이디입니다.</span>
                <span class="id_input_re_2">아이디가 이미 존재합니다.</span>
                <span class="final_id_ck">아이디를 입력해주세요.</span>
            </div>
            <div class="pw_wrap">
                <div class="pw_name">비밀번호</div>
                <div class="pw_input_box">
                    <input class="pw_input" name="userPw">
                </div>
                <span class="final_pw_ck">비밀번호를 입력해주세요.</span>
            </div>
            <div class="pwck_wrap">
                <div class="pwck_name">비밀번호 확인</div>
                <div class="pwck_input_box">
                    <input class="pwck_input">
                </div>
                <span class="final_pwck_ck">비밀번호 확인을 입력해주세요.</span>
                <span class="pwck_input_re_1">비밀번호가 일치합니다.</span>
                <span class="pwck_input_re_2">비밀번호가 일치하지 않습니다.</span>
            </div>
            <div class="user_wrap">
                <div class="user_name">이름</div>
                <div class="user_input_box">
                    <input class="user_input" name="userName">
                </div>
                <span class="final_name_ck">이름을 입력해주세요.</span>
            </div>
            <div class="address_wrap">
                <div class="address_name">주소</div>
                <div class="address_input_1_wrap">
                    <div class="address_input_1_box">
                        <input class="address_input_1" name="userAddr1" readonly="readonly">
                    </div>
                    <div class="address_button" onclick="execution_daum_address()">
                        <span>주소 찾기</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="address_input_2_wrap">
                    <div class="address_input_2_box">
                        <input class="address_input_2" name="userAddr2" readonly="readonly">
                    </div>
                </div>
                <div class="address_input_3_wrap">
                    <div class="address_input_3_box">
                        <input class="address_input_3" name="userAddr3" readonly="readonly">
                    </div>
                </div>
                <span class="final_addr_ck">주소를 입력해주세요.</span>
            </div>
            <div class="phone_wrap">
                <div class="phone_name">전화번호</div>
                <div class="phone_input_box">
                    <input class="phone_input" name="userPhone">
                </div>
                <span class="final_phone_ck">전화번호를 입력해주세요.</span>
                <span class="phone_input_box_warn"></span>
                <div class="phone_check_wrap">
                    <div class="clearfix"></div>
                    <span id="phone_check_input_box_warn"></span>
                </div>
            </div>
            <div class="join_button_wrap">
                <input type="button" class="join_button" value="가입하기">
            </div>
        </div>
    </form>
</div>

<th:block th:replace="~{includes/footer.html :: content}"></th:block>


<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/joincheck.js"></script>
<script type="text/javascript" src="/js/daumaddr.js"></script>

</body>
</html>