<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="" lang="en">
<head>
	<!-- JSTL Core 라이브러리 다운로드 -->
<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstl/1.2/jstl.min.js"></script>-->
<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstl/1.2/jstl-functions.min.js"></script>-->
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/default.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/footer.css" />
	<!-- Swiper -->
	<link href="https://hangeul.pstatic.net/hangeul_static/css/NanumBarunGothicYetHangul.css" rel="stylesheet">
	<!-- Swiper -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
	<style>
		.swiper-slide{
            width:300px;
            height:380px;
        }
	</style>
</head>

<body>
<header>
	<div id="header_section" class="header">
		<h1 class="logo">
			<a th:href="@{/main}"></a>
		</h1>
		<div class="gnb">
			<ul class="menu1">
				<li><a href=""><img src="/image/페이스북.png"
									alt="페이스북로고"></a></li>
				<li><a href="" style="width: 35px"><img
						src="/image/유튜브-removebg-preview.png" alt="유튜브로고"></a></li>
				<li><a href=""><img src="/image/인스타그램.png"
									alt="인스타그램로고"></a></li>
			</ul>
			<ul class="menu2">
				<!-- 로그인 했을 때 -->
				<li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{admin/main}">관리자 페이지</a></li>
				<li th:if="${#authorization.expression('!hasRole(''ADMIN'') or isAnonymous()')}"><a href="">멤버십</a></li>
				<li th:if="${#authorization.expression('!hasRole(''ADMIN'') or isAnonymous()')}"><a href="">고객센터</a></li>
				<li th:if="${#authorization.expression('!hasRole(''ADMIN'') or isAnonymous()')}"><a href="">단체관람/대관문의</a></li>
				<div sec:authorize="isAnonymous()">
					<li id="loginLink"><a th:href="@{/member/login}">로그인</a></li>
				</div>
				<div sec:authorize="isAuthenticated()">
					<li id="logoutLink"><a th:href="@{/member/logout}">로그아웃</a></li>
				</div>
			</ul>
			<ul class="menu3">
				<li th:if="${#authorization.expression('hasRole(''USER'')')}"><a th:href="@{/member/userInfo}">마이페이지</a></li>
				<li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/member/join}">회원가입</a></li>
				<li><a th:href="@{/member/reservation}">바로예매</a></li>
				<li><a href=""><img src="/image/햄버거버튼.png"></a></li>
			</ul>
			<div class="nav">
				<ul class="submenu">
					<li><a href="">예매</a>
						<ul class="submenu1">
							<li><a href="">예매하기</a></li>
							<li><a href="">상영시간표</a></li>
							<li><a href="">할인안내</a></li>
						</ul></li>
					<li><a href="">영화</a>
						<ul class="submenu2">
							<li><a href="">홈</a></li>
							<li><a href="">현재상영작</a></li>
							<li><a href="">상영예정작</a></li>
							<li><a href="">아르떼</a></li>
							<li><a href="">국립극장</a></li>
						</ul></li>
					<li><a href="">영화관</a>
						<ul class=submenu3>
							<li><a href="">스페셜관</a></li>
							<li><a href="">서울</a></li>
							<li><a href="">경기/인천</a></li>
							<li><a href="">충청/대전</a></li>
							<li><a href="">전라/광주</a></li>
							<li><a href="">경상/대구</a></li>
							<li><a href="">경상/부산/울산</a></li>
							<li><a href="">강원</a></li>
							<li><a href="">제주</a></li>
						</ul></li>
					<li><a href="">이벤트</a>
						<ul class="submenu4">
							<li><a href="">홈</a></li>
							<li><a href="">영화</a></li>
							<li><a href="">시사회/무대인사</a></li>
							<li><a href="">HOT</a></li>
							<li><a href="">제휴할인</a></li>
							<li><a href="">우리동네영화관</a></li>
						</ul></li>
					<li><a href="">스토어</a>
						<ul class="submenu5">
							<li><a href="">베스트</a></li>
							<li><a href="">관람권</a></li>
							<li><a href="">스낵음료</a></li>
							<li><a href="">포토카드</a></li>
						</ul></li>
					<li><a href=""></a>
						<ul></ul></li>
				</ul>
			</div>
		</div>
	</div>
</header>

<main>
	<div class="subsection">
		<div class="sub1">
			<div class="sub2">
				<div class="front">
					<a href=""><img src="https://caching2.lottecinema.co.kr/lotte_image/2023/BIG/BIG_1920774.jpg" alt=""></a>
				</div>
				<div class="back">
					<a href=""><img src="/image/메인화면2.jpg" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</main>
<div class="swiper mySwiper">
	<div class="swiper-wrapper">
		<div class="swiper-slide" th:each="movie : ${movies}">
			<a href="">
				<img th:src="@{'https://image.tmdb.org/t/p/w500' + ${movie.imgLink} }" alt="">
				<span th:text="${movie.movieName}"></span>
			</a>
		</div>
	</div>
	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>

	<!-- If we need navigation buttons -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>

</div>
<div class="notice">
	<img class="notice-img" src="/image/notice.png" alt="" >
</div>



<!-- 오른쪽 사이드 배너 -->
<div class="quick_section">
	<div class="quick_menu">
		<!-- 퀵메뉴 이미지 -->
		<a href="#none"><img src="/image/961c9cbf311b4f1299827c21a61fab76.png" alt=""></a>
		<a href="#none"><img src="/image/c1dbce4f91e948498c7c78239b7157ac.png" alt=""></a>
		<a href="#none"><img src="/image/c793af89f3b648aa99cc679186ccfa02.png" alt=""></a>
		<!-- 최상단 올라가기 버튼 -->
		<a href="#none" class="quick_top" id="to_top">TOP</a>
	</div>
</div>
<!-- 왼쪽 사이드 배너 -->
<div class="left_section">
	<div class="left_banner">
		<!-- 광고 배너 이미지 -->
		<a href=""><img src="/image/RUBYGILLMAN_145145.png" alt=""></a>
	</div>
	<!-- 광고 닫는 버튼 -->
	<button class="banner_close"></button>
</div>
<th:block th:replace="~{includes/footer.html :: content}"></th:block>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- 제이쿼리 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- lodash cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Swiper -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>



</body>
</html>