<!DOCTYPE html>
<html xmlns:c="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/css/movielist.css" />
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

</head>
<body>
<h1>목록 페이지입니다.</h1>

<div class="table_wrap">
    <a href="" class="top_btn">영화 목록</a>
    <table>
        <thead>
        <tr>
            <th class="movieId">번호</th>
            <th class="movieName">제목</th>
            <th class="movieRelease">개봉일</th>
            <th class="movieRating">평점</th>
            <th class="movieType">장르</th>
            <th class="movieInfo">줄거리</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each = "movie : ${list}">
                <td th:text ="${movie.movieId}"></td>
                <td th:text="${movie.movieName}"></td>
                <td th:text ="${movie.movieRelease}"></td>
                <td th:text ="${movie.movieRating}"></td>
                <td th:text ="${movie.movieType}"></td>
                <td th:text ="${movie.movieInfo}"></td>
            </tr>
        </tbody>
    </table>
    <div class ="pageInfo_wrap">
        <div class="pageInfo_area">
            <ul id="pageInfo" class="pageInfo">
                <!-- 이전페이지 버튼 -->
                <li class="pageInfo_btn previous" th:if="${pageMaker.prev}">
                    <a th:href="@{/movielist(pageNum=${pageMaker.startPage-1}, amount=${pageMaker.criteria.amount})}">Prev</a>
                </li>

                <!-- 페이지 번호 버튼 -->
                <li th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}"
                    class="pageInfo_btn" th:classappend="${num == pageMaker.criteria.pageNum} ? 'active' : ''">
                    <a th:href="@{/movielist(pageNum=${num}, amount=${pageMaker.criteria.amount})}" th:text="${num}"></a>
                </li>

                <!-- 다음페이지 버튼 -->
                <li class="pageInfo_btn next" th:if="${pageMaker.next}">
                    <a th:href="@{/movielist(pageNum=${pageMaker.endPage + 1}, amount=${pageMaker.criteria.amount})}">Next</a>
                </li>
            </ul>
        </div>
    </div>
    <form id="moveForm" method="get">
        <!-- pageNum 값을 숫자로 변환하여 대체 -->
        <input type="hidden" name="pageNum" th:attr="value=${pageMaker.criteria.pageNum}">
        <!-- amount 값을 숫자로 변환하여 대체 -->
        <input type="hidden" name="amount" th:attr="value=${pageMaker.criteria.amount}">
    </form>
</div>
<script type="text/javascript" src="/js/movielist.js"></script>
</body>
</html>