<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MovieMapper">
    <!-- 영화단건조회  -->
    <select id="select" resultType="com.example.demo.domain.dto.MovieDTO">
        SELECT MOVIEID, MOVIENAME, MOVIERELEASE, MOVIERATING, MOVIETYPE, MOVIEINFO
        FROM tbl_movie
        WHERE MOVIEID = #{movieId}
    </select>
    <!-- 영화등록  -->
    <insert id="insert">
        INSERT INTO tbl_movie
        (MOVIEID, MOVIENAME, MOVIERELEASE, MOVIERATING, MOVIETYPE, MOVIEINFO)
        VALUES(#{movieId}, #{movieName}, #{movieRelease}, #{movieRating}, #{movieType}, #{movieInfo});
    </insert>

    <!-- 영화 API 업데이트 -->
    <insert id="movie_insert" parameterType="list">
        INSERT INTO tbl_movie VALUES <foreach collection="list" item="item" separator=","> (#{item.movieId},#{item.movieName},#{item.movieRelease},#{item.movieRating},#{item.movieType},#{item.movieInfo})</foreach>
        ON DUPLICATE KEY UPDATE
        movieName = VALUES(movieName),
        movieRelease = VALUES(movieRelease),
        movieRating = VALUES(movieRating),
        movieType = VALUES(movieType),
        movieInfo = VALUES(movieInfo);
    </insert>
    <!-- 영화 API 이미지 업데이트 -->
    <insert id="movie_image_insert" parameterType="list">
        INSERT INTO tbl_image VALUES <foreach collection="list" item="item" separator=","> (#{item.img_id},#{item.img_link})</foreach>
        ON DUPLICATE KEY UPDATE
        img_link = VALUES(img_link)
    </insert>

    <update id="delete">
        DELETE FROM TBL_MOVIE
        WHERE MOVIEID = #{movieId}

    </update>
</mapper>