<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReservationMapper">

    <!-- 예매정보 등록 -->
    <insert id="reserveInsert">
        INSERT INTO TBL_RESERVATION (USERID, SHOWTIMEID, SEATNUMBER, RESERVATIONTIME, PRICETOTAL)
        VALUES (#{userId}, #{showtimeId}, #{seatNumber}, #{reservationTime}, #{priceTotal})
    </insert>

    <!-- 예매 정보 조회 -->
    <select id="reserveSelect" resultType="com.example.demo.domain.dto.ReservationDTO">
        SELECT RESERVATIONID, USERID, SHOWTIMEID, SEATNUMBER, RESERVATIONTIME, PRICETOTAL
        FROM TBL_RESERVATION
    </select>




</mapper>