@charset "UTF-8";
main>div{
    display:block;
}
.subsection{
    margin-top:-196px;
    height : 774px;
    width:100%;
    position:relative;

}
main>.subsection>.sub1{
    position: relative;
}
main>.subsection>.sub1>.sub2{}
main>.subsection>.sub1>.sub2>.front{
    width:100%;
    display: block;
}
main>.subsection>.sub1>.sub2>.front>a{
    background-size: contain;
    background-repeat: no-repeat;
}
.sub1{
    position:relative;
}
.sub1>.sub2{
    position:relative;
    transform-style:preserve-3d;
    transition:1.5s;
}
.sub2>.front img{
    width:100%;
    height: 774px;
    z-index:-10;
    vertical-align: top;
    position:absolute;
}
.sub2>.back img{
    width:100%;
    height: 774px;
    z-index:-10;
    vertical-align: top;
    position:absolute;
}
.sub2>.front,
.sub2>.back{
    /* position:relative; */
    backface-visibility: hidden;
}
.sub2>.front{
    z-index:2;
    /* display: flex; */
}
.sub2>.back{
    display:flex;
    transform: rotateY(180deg);
}
/*.sub1:hover .sub2{
    transform:rotateY(180deg);
}*/

.container {
    width: 70%; /* 원하는 너비로 설정 */
    margin: auto; /* 가운데 정렬 */
}

.contents{
    display:flex;
    border:1px solid;
    width: 100%;
    height: 424px;
    background-color: lightgray;
}
.contents>.contentslist{
    /* height:262px; */
    width:100%;

}
.contents>.contentslist>.mainmovie.swiper-container{
    overflow : hidden;
}
.contents>.contentslist>.mainmovie.swiper-container>.swiper-wrapper{
   display: flex;
   position:relative;
   height: 424px;
   justify-content: space-evenly;
}
.contents>.contentslist>.mainmovie.swiper-container>.swiper-wrapper>div{
    list-style: none;
    position: relative;
    height:380px;
    align-items: center;
    justify-content: center;
    /* display: flex; */
    flex-basis : 20%;
    max-width:20%;

    margin-right : -100px;
    margin-left : -100px;

}
.contents>.contentslist>.mainmovie.swiper-container>.swiper-wrapper>div>a{
    text-decoration: none;
    color:black;
    margin-top:10px;
    /* border:1px solid;     */
    text-align: center;
    align-items: center;
    font-size:12px;
    font-weight: bold;
    margin-left:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.contents>.contentslist>.mainmovie.swiper-container>.swiper-wrapper>div>a img{
    width : auto;
    height : 312px;

}
/* 오른쪽 사이드 배너2 */
.quick_section{
    position: absolute;
    top: 200px;
    width: 82px;
    right: 20px;
    text-align: center;
    z-index: 10;
}
/* 누르면 최상단 이동 */
.quick_section>.quick_menu{
    overflow: hidden;
    background: white;
    width: 76px;
    padding-top: 15px;
    /* div뒤에 그림자 효과 */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
    border-radius: 4px;
}
.quick_section>.quick_menu a {
    display: block;
    padding: 5px;
}
.quick_section>.quick_menu>.quick_top {
    padding-left: 13px;
    margin-top: 10px;
    letter-spacing: 5px;
    color: white;
    background-color: #3a3a3a;
}
/* 왼쪽 사이드 배너1 */
.left_section {
    position: absolute;
    top: 300px;
    left: 45%;
    margin-left: -660px;
    z-index: 100;
}
.left_section>.left_banner {}
.left_section>.left_banner a{
    display: block;
    overflow: hidden;
    width: 145px;
    height: 145px;
}
.left_section>.left_banner a img {
    border: none;
}
/* 누르면 광고 닫히게 */
.left_section>.banner_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 13px;
    border: 0;
    /* x표시 이미지 */
    background: transparent url(../image/close_13_gry.png) no-repeat 0 0;
}

/* Swiper Slide CSS 수정 */
.swiper-slide {
    width : 20%;
}
.swiper-slide a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.swiper-slide img{
    width : 100%;
    height : 310px;
    object-fit : cover;
    margin-top: 10px;
    margin-bottom : 10px;

}

.swiper-button-next, .swiper-button-prev {
    background-color: #000;
    width: 50px;
    height: 50px;
    position:absolute;
}

.swiper-button-next {
    right: -30px; /* 오른쪽에 위치 */
}

.swiper-button-prev {
    left: -30px; /* 왼쪽에 위치 */
}

.swiper {
  width: 1200px;
  height: 350px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide > img {
  width: 100%;
  height: 100%;
}

.notice {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}
.notice-img{
    width : 50%;
}

   
